@keyframes skeleton {
  0% {
    background-color: var(--dark-5);
  }

  50% {
    background-color: var(--dark-4);
  }

  100% {
    background-color: var(--dark-5);
  }
}

.wrapper {
  background-color: var(--dark-3);
  animation: skeleton 2s ease-in-out infinite;
}

.rounded {
  border-radius: var(--border-radius-light);
}

.circular {
  border-radius: 50%;
}
