.wrapper {
  padding: var(--spacing-lg);
  height: 100%;
  display: flex;
  justify-content: center;
}

.contentContainer {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.listContainer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-md);
}

@media only screen and (max-width: 600px) {
  body {
    .wrapper {
      padding: var(--spacing-sm);
    }

    .listContainer {
      grid-template-columns: 1fr;
    }
  }
}
