.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-sm);
  color: var(--text-color);
  border-radius: var(--border-radius-light);
  padding: 6px 12px;
  cursor: pointer;
}

.tab:hover {
  background-color: var(--hover-color);
}

.tab.selected {
  background-color: var(--primary-color);
}

.tab p {
  font-size: 0.9rem;
  color: inherit;
}
